{
  "extends": "airbnb",
  "globals": {
    "document": false,
    "fetch": false,
    "describe": false,
    "it": false
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/no-unused-prop-types": [2, { skipShapeProps: true }]
  }
}
